In [22]:
import pandas as pd
#df=pd.read_csv("‪D:\1CD22CS193\program1.csv")
df=pd.read_csv("program1.csv")
#df=pd.read_excel("‪D:\1CD22CS193\program1.xlsx")
#df=pd.read_excel("program1.xlsx")
#df=pd.read_excel("program1.xlsx","Sheet1")
#df=pd.read_excel("program1.xlsx","Sheet2")
#df=pd.DataFrame(Student_Details)
df

   id      first       last  gender  Marks  selected
0   1      Leone    Debrick  Female     50      True
1   2     Romola  Phinnessy  Female     60     False
2   3       Geri      Prium    Male     65     False
3   4      Sandy   Doveston  Female     95     False
4   5    Jacenta     Jansik  Female     31      True
5   6  Diane mar   Medhurst  Female     46      True
6   7     Austen       Pool    Male     45      True
7   8      Vanya    Teffrey    Male     70     False
8   9   Giordano      Elloy    Male     36     False
9  10     Rozele    Fawcett  Female     50     False

In [28]:
df.columns
df[df['Marks']>50]

   id   first       last  gender  Marks  selected
1   2  Romola  Phinnessy  Female     60     False
2   3    Geri      Prium    Male     65     False
3   4   Sandy   Doveston  Female     95     False
7   8   Vanya    Teffrey    Male     70     False

In [29]:
dictionary={"first":["Leone","Romola","Geri"],
           "Marks":[50,60,65],
           "selected":["True","False","False"]}
print(dictionary)
df.columns

{'first': ['Leone', 'Romola', 'Geri'], 'Marks': [50, 60, 65], 'selected': ['True', 'False', 'False']}

Index(['id', 'first', 'last', 'gender', 'Marks', 'selected'], dtype='object')

In [34]:
#df.Marks.max()
df["Marks"].max()

95

In [36]:
df[df['Marks']==df['Marks'].max()]

   id  first      last  gender  Marks  selected
3   4  Sandy  Doveston  Female     95     False

In [45]:
Max1=df['Marks'].max()
print("The Maximum marks of the list is",Max1)
print(f"The Maximum marks of the list is {Max1}")
Max2=df[df['Marks']==df['Marks'].max()]
print(f"The Maximum marks of the list is {Max2}")

The Maximum marks of the list is 95
The Maximum marks of the list is 95
The Maximum marks of the list is    id  first      last  gender  Marks  selected
3   4  Sandy  Doveston  Female     95     False

In [48]:
min=df['Marks'].min()
max=df['Marks'].max()
count=df['first'].count()
sum=df['Marks'].sum()
mean=df['Marks'].mean()
median=df['Marks'].median()
std=df['Marks'].std()
var=df['Marks'].var()
print("The Minimum of the marks is",min)
print("The Maximum of the marks is",max)
print("Number of Students :",count)
print("The Sum of all marks is",sum)
print("The Mean of the marks is",mean)
print("The Median of the marks is",median)
print("The Standard Deviation of the marks is",std)
print("The Variance of the marks is",var)

The Minimum of the marks is 31
The Maximum of the marks is 95
Number of Students : 10
The Sum of all marks is 548
The Mean of the marks is 54.8
The Median of the marks is 50.0
The Standard Deviation of the marks is 18.611824198610947
The Variance of the marks is 346.40000000000003