In [23]:
import numpy as np
import pandas as pd

#ignore all warnings

import warnings
warnings.filterwarnings("ignore")

#Step 1: Generate the 100 random values as dataset

values=np.random.rand(100)#keep generates values between 0-1
#values=np.random.seed(100)#generates same values everytime we run
labels=[]

for x in values[:50]:
    if x<=0.5:
        labels.append('Class1')#add class2 next to the existing values
    else:
        labels.append('Class2')
print(values)
print(labels)

[0.53327718 0.55799622 0.15341152 0.0833005  0.34873258 0.00654706
 0.21621062 0.08777232 0.57264915 0.72171457 0.87498307 0.36451983
 0.17012084 0.57426219 0.46478673 0.75426748 0.5471954  0.64496573
 0.62151596 0.67212059 0.1392063  0.37320748 0.35304449 0.2449823
 0.05472679 0.78319925 0.28754003 0.18548896 0.21689204 0.98301599
 0.45774724 0.34951037 0.28765168 0.97218711 0.30525845 0.146235
 0.67708412 0.23958997 0.7429413  0.76197151 0.07632427 0.60469677
 0.17349408 0.24463912 0.32333038 0.12185937 0.50593175 0.86912776
 0.19450868 0.25538333 0.82167634 0.68015155 0.56394492 0.50652589
 0.90861096 0.65503516 0.0267993  0.37515518 0.87229781 0.66471241
 0.7318031  0.9385128  0.07516246 0.03407039 0.07940312 0.69413596
 0.91648358 0.97319502 0.187345   0.18167075 0.75962444 0.53083866
 0.68709585 0.7636143  0.71075049 0.92956621 0.52155748 0.51199595
 0.48781598 0.44328589 0.12835541 0.70922493 0.68386474 0.29518605
 0.20263727 0.88614101 0.56396081 0.22897558 0.23420025 0.82566351
 0.1398626  0.15026013 0.59448571 0.57138018 0.2758427  0.46269118
 0.23853083 0.89280429 0.38802426 0.11300686]
['Class2', 'Class2', 'Class1', 'Class1', 'Class1', 'Class1', 'Class1', 'Class1', 'Class2', 'Class2', 'Class2', 'Class1', 'Class1', 'Class2', 'Class1', 'Class2', 'Class2', 'Class2', 'Class2', 'Class2', 'Class1', 'Class1', 'Class1', 'Class1', 'Class1', 'Class2', 'Class1', 'Class1', 'Class1', 'Class2', 'Class1', 'Class1', 'Class1', 'Class2', 'Class1', 'Class1', 'Class2', 'Class1', 'Class2', 'Class2', 'Class1', 'Class2', 'Class1', 'Class1', 'Class1', 'Class1', 'Class2', 'Class2', 'Class1', 'Class1']

In [25]:
#Adding the none values for the extra 50 values as None in tables
labels+=[None]*50
#print(labels)
data={'Point': [f"x{i+1}" for i in range(100)],"Values": values,"Labels":labels}
#print(data)
df=pd.DataFrame(data)
df

   Point    Values  Labels
0     x1  0.533277  Class2
1     x2  0.557996  Class2
2     x3  0.153412  Class1
3     x4  0.083301  Class1
4     x5  0.348733  Class1
..   ...       ...     ...
95   x96  0.462691    None
96   x97  0.238531    None
97   x98  0.892804    None
98   x99  0.388024    None
99  x100  0.113007    None

[100 rows x 3 columns]

In [29]:
#split data into labeled and unlabeled
labeled_df=df[df["Labels"].notna()]#notna function returns not null rows
X_train=labeled_df[["Values"]]
Y_train=labeled_df[["Labels"]]

unlabeled_df=df[df["Labels"].isna()]#isna function returns null rows
X_test=unlabeled_df[["Values"]]

#generate true values for testing data(for accuracy calculations)
true_labels=["Class1" if x<=0.5 else "Class2" for x in values[50:]]
true_labels

['Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class1',
 'Class2',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class1',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class2',
 'Class1',
 'Class1',
 'Class2',
 'Class2',
 'Class1',
 'Class1',
 'Class1',
 'Class2',
 'Class1',
 'Class1']

In [31]:
labeled_df

   Point    Values  Labels
0     x1  0.533277  Class2
1     x2  0.557996  Class2
2     x3  0.153412  Class1
3     x4  0.083301  Class1
4     x5  0.348733  Class1
5     x6  0.006547  Class1
6     x7  0.216211  Class1
7     x8  0.087772  Class1
8     x9  0.572649  Class2
9    x10  0.721715  Class2
10   x11  0.874983  Class2
11   x12  0.364520  Class1
12   x13  0.170121  Class1
13   x14  0.574262  Class2
14   x15  0.464787  Class1
15   x16  0.754267  Class2
16   x17  0.547195  Class2
17   x18  0.644966  Class2
18   x19  0.621516  Class2
19   x20  0.672121  Class2
20   x21  0.139206  Class1
21   x22  0.373207  Class1
22   x23  0.353044  Class1
23   x24  0.244982  Class1
24   x25  0.054727  Class1
25   x26  0.783199  Class2
26   x27  0.287540  Class1
27   x28  0.185489  Class1
28   x29  0.216892  Class1
29   x30  0.983016  Class2
30   x31  0.457747  Class1
31   x32  0.349510  Class1
32   x33  0.287652  Class1
33   x34  0.972187  Class2
34   x35  0.305258  Class1
35   x36  0.146235  Class1
36   x37  0.677084  Class2
37   x38  0.239590  Class1
38   x39  0.742941  Class2
39   x40  0.761972  Class2
40   x41  0.076324  Class1
41   x42  0.604697  Class2
42   x43  0.173494  Class1
43   x44  0.244639  Class1
44   x45  0.323330  Class1
45   x46  0.121859  Class1
46   x47  0.505932  Class2
47   x48  0.869128  Class2
48   x49  0.194509  Class1
49   x50  0.255383  Class1

In [33]:
unlabeled_df

   Point    Values Labels
50   x51  0.821676   None
51   x52  0.680152   None
52   x53  0.563945   None
53   x54  0.506526   None
54   x55  0.908611   None
55   x56  0.655035   None
56   x57  0.026799   None
57   x58  0.375155   None
58   x59  0.872298   None
59   x60  0.664712   None
60   x61  0.731803   None
61   x62  0.938513   None
62   x63  0.075162   None
63   x64  0.034070   None
64   x65  0.079403   None
65   x66  0.694136   None
66   x67  0.916484   None
67   x68  0.973195   None
68   x69  0.187345   None
69   x70  0.181671   None
70   x71  0.759624   None
71   x72  0.530839   None
72   x73  0.687096   None
73   x74  0.763614   None
74   x75  0.710750   None
75   x76  0.929566   None
76   x77  0.521557   None
77   x78  0.511996   None
78   x79  0.487816   None
79   x80  0.443286   None
80   x81  0.128355   None
81   x82  0.709225   None
82   x83  0.683865   None
83   x84  0.295186   None
84   x85  0.202637   None
85   x86  0.886141   None
86   x87  0.563961   None
87   x88  0.228976   None
88   x89  0.234200   None
89   x90  0.825664   None
90   x91  0.139863   None
91   x92  0.150260   None
92   x93  0.594486   None
93   x94  0.571380   None
94   x95  0.275843   None
95   x96  0.462691   None
96   x97  0.238531   None
97   x98  0.892804   None
98   x99  0.388024   None
99  x100  0.113007   None

In [39]:
#(Create knn-k nearest classifier)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
k_values=[1,2,3,4,5,20,30]
#classify using k nearest neighbors
for k in k_values:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train,Y_train)#train the models
    prediction=knn.predict(X_test)#test
    print(f"Accuracy for k={k}")
    print(classification_report(true_labels,prediction))

Accuracy for k=1
              precision    recall  f1-score   support

      Class1       1.00      0.95      0.98        21
      Class2       0.97      1.00      0.98        29

    accuracy                           0.98        50
   macro avg       0.98      0.98      0.98        50
weighted avg       0.98      0.98      0.98        50

Accuracy for k=2
              precision    recall  f1-score   support

      Class1       1.00      1.00      1.00        21
      Class2       1.00      1.00      1.00        29

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Accuracy for k=3
              precision    recall  f1-score   support

      Class1       1.00      1.00      1.00        21
      Class2       1.00      1.00      1.00        29

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Accuracy for k=4
              precision    recall  f1-score   support

      Class1       1.00      1.00      1.00        21
      Class2       1.00      1.00      1.00        29

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

Accuracy for k=5
              precision    recall  f1-score   support

      Class1       1.00      0.90      0.95        21
      Class2       0.94      1.00      0.97        29

    accuracy                           0.96        50
   macro avg       0.97      0.95      0.96        50
weighted avg       0.96      0.96      0.96        50

Accuracy for k=20
              precision    recall  f1-score   support

      Class1       1.00      0.95      0.98        21
      Class2       0.97      1.00      0.98        29

    accuracy                           0.98        50
   macro avg       0.98      0.98      0.98        50
weighted avg       0.98      0.98      0.98        50

Accuracy for k=30
              precision    recall  f1-score   support

      Class1       0.95      1.00      0.98        21
      Class2       1.00      0.97      0.98        29

    accuracy                           0.98        50
   macro avg       0.98      0.98      0.98        50
weighted avg       0.98      0.98      0.98        50